# Located in %USERPROFILE%\.gitconfig
# Can be located elsewhere by using a symlink
# cmd /c mklink %USERPROFILE\.gitconfig (absolutePath)\.gitconfig

[user]
	name = Ben Origas
	email = borigas@nebraskaglobal.com
[push]
	default = simple
[alias]
	incoming = !git fetch && git log ..origin
	outgoing = !git log origin..
    pub = !git rev-parse --abbrev-ref HEAD | xargs -r git push --set-upstream origin 
    co = checkout
    
    up = !git pull --rebase --prune
    cm = !git add -A && git commit -m
    save = !git add -A && git commit -m 'SAVEPOINT'
    undo = reset HEAD~1 --mixed
    wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
    bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
    bdone = "!f() { git checkout ${1-master} && git up && git bclean ${1-master}; }; f"
[color "status"]
  added = green
  changed = yellow bold
  untracked = white magenta bold
  branch = yellow bold

[core]
  editor = "'C:/Program Files (x86)/Notepad++/notepad++.exe' -multiInst -notabbar -nosession -noPlugin"






